.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    border: #009444 solid 1px;
    background-color: aliceblue;
    border-radius: 20px;
    width: 900px;
    /* height: 50vh; Optionally, to center vertically */
}
.partName{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.carbon-container{
    gap: 20px;
}
.footprint{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .carbon-box{
    width: 400px;
    color: white;
    background-color: black;
    padding: 2px;
    border-radius: 20px;
    margin-top: 20px;
} */
.material-box {
    background-color: #FF4C56; /* Material footprint color */
    padding: 20px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
   
}

.manufacturing-box {
    background-color: #FFC63C; /* Manufacturing footprint color */
    padding: 20px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
    /* margin-left: 10px; */
}




.flxRow{
    display: flex;
    flex-direction: row;
}

.flxCol{
    display: flex;
    flex-direction: column;
}