.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
    /* height: 50vh; Optionally, to center vertically */
}
.partName{
    font-size: 24px;
    font-weight: bold;
}

.carbon-container{
    gap: 20px;
}
.footprint{
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

.carbon-box{
    width: 400px;
    color: white;
    background-color: black; /* Material footprint color */
    padding: 2px;
    border-radius: 20px;
    margin-left: 140px;
}
.material-box {
    background-color: #FF4C56; /* Material footprint color */
    padding: 20px;
    border-top-left-radius: 70px;
    border-bottom-left-radius: 70px;
   
}

.manufacturing-box {
    background-color: #FFC63C; /* Manufacturing footprint color */
    padding: 20px;
    /* margin-left: 10px; */
}
.logistics-box{
    background-color:#536CF1 ;
    padding: 20px;
    border-top-right-radius: 70px;
    border-bottom-right-radius: 70px;
}



.flxRow{
    display: flex;
    flex-direction: row;
}

.flxCol{
    display: flex;
    flex-direction: column;
}